<canvas id="canvas">Unfortunately, your browser does not support HTML5</canvas>
<script src="js/constants.js"></script>
<script src="js/mobmanager.js"></script>
<script src="js/draw.js"></script>
<script src="js/input.js"></script>
<script src="js/paddle.js"></script>
<script src="js/ball.js"></script>
<script src="js/brick.js"></script>
<script src="js/game.js"></script>
<script src="js/gameover.js"></script>
<script>window.onload = Game.main();</script>
